/* mobile break point */
* {
    margin: 0;
    padding: 0;
}
body, html {
    min-width: 100%;
    min-height: 100hv;
    background-color: rgb(246, 247, 247);
    max-width: 415px;
    min-width: none;
}
header {
    background: #F3F2F2;
    height: 10vh;
}
h1 {
    font-family: 'Mohave', sans-serif;
    font-weight: 500;
    font-size: 3rem;
    color: #2F80ED;
}
h2 {
    font-family: 'Mohave', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 10px;
    color: rgb(67, 58, 59);
    margin: -5px;
}
.entire-container {
    max-width: 415px; 
    /* this ensures that the image doesn't get too big */
    margin: 0 auto;
    /* this ensures that we're always centered. Note '0' & 'auto' */
}
.logo {
    display: flex;
    justify-content: center;
}
.logo > img {
    padding-top: 5%;
}
#hero-shoes-pic-mobile {
    background: url(https://assets.codepen.io/6060109/mobile-shoes.jpg) repeat 0 0;
    background-position:center;
    background-position-y: -220px;
    height: 30vh;
    width: 100%;
}
.hero-pic-mobile {
    width: 100%;
}
.copy-container {
    margin: 6% 8% 8% 8%;
}
.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.announcement {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: rgb(67, 58, 59);
    text-align: center;
    line-height: 30px;
    padding: 10px 10px 0 10px;
}
footer {
    margin: 8%;

}
form {
    display: flex;
    /* this fixes the issue of the button and email form not touching */
}
input[type="text"] {
    width: 75%;
    height: 45px;
    box-sizing: border-box; /* this makes sure my box and button are the same size */
    padding: 0 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid rgb(172, 171, 171);
}
button {
    width: 20%;
    height: 45px;
    box-sizing: border-box;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: large;
    color: white;
    background: rgb(115,112,113);
    background: linear-gradient(90deg, rgba(115,112,113,1) 0%, rgba(49,46,46,1) 100%);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.fa-angle-right {
    color: white;
}
.right-desktop-container {
    display: none;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    h1 {
        font-size: 60px;
    }
    h2 {
        margin: 0;
        font-size: 60px;
    }
    .entire-container {
        display: flex;
        flex-direction: row;
        max-width: 1200px;
        background-image: url(https://assets.codepen.io/6060109/waves.png);
        background-size: cover;
        background-position: center; 
        /* I didn't have BP: center set ^^. That's why it was repeating */
        margin-top: 5%;
        min-height: 500px;
        min-width: 1200px;
    }
    .left-desktop-container {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 15%;
        margin-bottom: 5%;
        min-height: 485px;
    }
    header {
        background: none;
        margin-bottom: 5%;
    }
    .logo {
        margin: 5%;
    }
    figure {
        display: none;
    }
    .copy-container {
        margin-left: 0;
        text-align: left;
        min-height: 300px;
    }
    .header-text {
        display: inline-block;
        text-align: left;
    }
    .announcement {
        padding-left: 0;
        text-align: left;
    }
    footer {
        margin: 0;
        width: 95%;
    }
    .right-desktop-container {
        display: inline-block;
        height: 50rem;
        width: 100rem;
        background-image: url(https://assets.codepen.io/6060109/shoes.png);
        background-position: right;   
    }
    .hero-pic-desktop {
        max-height: 735px;
    }
}